<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>FilterBook</display-name>
  <servlet>
  	<servlet-name>FilterClass</servlet-name>
  	<servlet-class>MainServlet</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>FilterClass</servlet-name>
  	<url-pattern>/displayBook</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>Simple</servlet-name>
  	<servlet-class>Simple</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>Simple</servlet-name>
  	<url-pattern>/simple</url-pattern>
  </servlet-mapping>
  <filter>
  	<filter-name>MyFilter</filter-name>
  	<filter-class>FilterEx</filter-class>
  </filter>
  <filter-mapping>
  	<filter-name>MyFilter</filter-name>
  	<url-pattern>/simple</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>